.hotels{
    vertical-align: top;
    display: inline-block;
    width: 25%;
}
.hotelList{
    display: inline-block;
    width: 70%;
}
.customer{
    border: 1px dotted blue;
    padding: 3px;
    margin: 3px;
    font-weight: bolder;
}
.addressChange{
    text-align: right;
    font-weight: bolder;
    float: right;
}